html
{
	background-color: #12151e;
	color: #dce6f5;
}

body
{
	text-align:center;
	padding-top: 10%;
	overflow: auto;
}

#SlicerIcon img
{
	max-width: 200px;
	max-height: 200px;
	object-fit: contain;
}

#Title
{
	height:20mm;
	line-height: 20mm;
	font-size: 6mm;
	color: #009688;
}

#STip
{
	padding:0mm 20mm;
	height: 15%;
}

#BtnArea
{
	align-items: center;
}

#StartBtn
{
	display: inline-block;
    text-decoration:none;	
}
